<div class="list-grid">
  <app-table-detail 
    *ngFor="let table of tableList" 
    [table]="table"
    (saveEvent)="saveTable($event.table, $event.oldNumber)"
    (deleteEvent)="deleteTable($event)"
    [listErrorMessage]="errorMessage"
    ></app-table-detail>
</div>
<button *ngIf="!isAdd" (click)="add()" mat-raised-button color="primary"><mat-icon>add</mat-icon> Add New Table</button>
<app-table-detail 
  *ngIf="isAdd" 
  (cancelEvent)="cancelAdd()" 
  (saveEvent)="saveTable($event.table, $event.oldNumber)"
  (deleteEvent)="deleteTable($event)"
  [table]="{'number': 0, 'seats': 0, 'location': ''}"
  [listErrorMessage]="errorMessage"
  ></app-table-detail>
