<mat-card *ngIf="table" style="margin: 1rem;">
  <h2>Table #{{ table.id }}</h2>
  <div *ngIf="!isEdit">
    <table>
      <tbody>
        <tr><td>Number</td> <td>{{ table.id }}</td></tr>
        <tr><td>Seats <td>{{ table.capacity }}</td></tr>
        <tr><td>Location</td> <td>{{ table.description }}</td></tr>
      </tbody>
    </table>
    <button *ngIf="!isDelete && !isNew" mat-raised-button color="primary" (click)="edit()"><mat-icon>edit</mat-icon> Edit</button>
    <button *ngIf="!isDelete && !isNew" (click)="tryDelete()" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>

    <div *ngIf="isDelete" style="margin-top: 1rem;">
      <div>Do you really want to delete this Table?</div>
      <button mat-raised-button (click)="cancelDelete()" color="primary">No</button>
      <button mat-raised-button (click)="confirmDelete()" color="warn">Yes</button>
    </div>
  </div>
  <form *ngIf="isEdit">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Number</mat-label>
        <input matInput type="number" min="1" id="number" name="number" required [(ngModel)]="editedTable!.id">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Seats</mat-label>
        <input matInput type="number" min="1" id="seats" name="seats" required [(ngModel)]="editedTable!.capacity">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput type="text" id="location" name="location" [(ngModel)]="editedTable!.description">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="save()"><mat-icon>save</mat-icon> Save</button>
    <button mat-raised-button color="warn" (click)="cancel()"><mat-icon>cancel</mat-icon> Cancel</button>
    <div *ngIf="errorMessage || listErrorMessage" class="error">
      {{ errorMessage }}
      {{ listErrorMessage }}
    </div>
  </form>
</mat-card>
