<mat-toolbar>
  <a *ngIf="hasRole('Backoffice')" mat-button href="" routerLink="/tables">Table List</a>
  <a *ngIf="hasRole('Backoffice')" mat-button href="" routerLink="/categories">Category List</a>
  <a *ngIf="hasRole('Backoffice')" mat-button href="" routerLink="/menu-items">Menu Item List</a>
  <a *ngIf="hasRole('Backoffice')" mat-button href="" routerLink="/users">User List</a>
  <span class="spacer"></span>
  <a *ngIf="!isLoggedIn()" mat-button href="" routerLink="/login">Login</a>
  <a *ngIf="isLoggedIn()" mat-button href="" routerLink="/logout">Logout</a>
</mat-toolbar>
<div style="margin: 1rem;">
  <router-outlet></router-outlet>
</div>